* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Nunito", sans-serif;
  color: #384047; }

h1 {
  color: black;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1em; }

ul {
  list-style-type: none; }

hr {
  margin: auto;
  width: 90%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

a {
  text-decoration: none; }

a:link {
  color: #4d4d4d; }

a:visited {
  color: #4d4d4d; }

a:hover {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease; }

.name {
  font-size: 2em; }
  @media (min-width: 1024px) {
    .name {
      width: 50%; } }

.name,
nav {
  display: block; }

@media (min-width: 1024px) {
  nav {
    width: 50% !important;
    align-self: center !important; } }

.main-header {
  background-color: #f5f7fa; }

@media (min-width: 1024px) {
  .main-heading {
    display: flex !important;
    justify-content: space-around !important; } }

.navigation li {
  width: 90%;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 5px; }
  @media (min-width: 768px) {
    .navigation li {
      display: inline;
      width: 50%;
      background-color: #f5f7fa; }
      .navigation li:hover {
        color: darkgrey;
        background-color: #f5f7fa; } }
  .navigation li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease; }

@media (min-width: 768px) {
  .profile {
    display: flex; }
    .profile div {
      width: 50%;
      padding: 10px; }
    .profile > div:nth-child(2) {
      margin-top: 20px;
      order: -1; } }

.profile-pic {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 70%; }

.profile p {
  margin: auto;
  margin-bottom: 15px;
  padding-bottom: 30px;
  width: 70%; }

/*---- PORTFOLIO ---- */
.portfolio-heading {
  padding-top: 30px;
  padding-bottom: 30px; }

@media (min-width: 768px) {
  .portfolio-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; } }
@media (min-width: 1024px) {
  .portfolio-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; } }
.portfolio-img img {
  width: 90%; }
@media (min-width: 768px) {
  .portfolio-img > div {
    width: 40%; } }
@media (min-width: 1024px) {
  .portfolio-img > div {
    width: 33%; } }
@media (min-width: 1024px) {
  .portfolio-img div h2 {
    font-size: 1.2em; } }
@media (min-width: 1024px) {
  .portfolio-img div p {
    font-size: 1em; } }

.portfolio-img div > h2 {
  font-size: 2em;
  padding-top: 20px; }
  @media (min-width: 768px) {
    .portfolio-img div > h2 {
      font-size: 1em; } }

.portfolio-img div > p {
  font-size: 1.25em;
  font-family: "Abel", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 768px) {
    .portfolio-img div > p {
      font-size: 0.8em; } }

.portfolio-img div > h2,
.portfolio-img div > p {
  width: 70%;
  margin: auto; }

/*---- FOOTER RULE ---- */
footer {
  margin-top: 20px;
  background-color: #f5f7fa; }

@media (min-width: 768px) {
  .main-footer p {
    font-size: 1em;
    width: 50%; } }

.contact {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .contact {
      font-size: 1em; } }
  @media (min-width: 1024px) {
    .contact {
      font-size: 1.5em; } }

.main-footer > p {
  font-family: "Abel", sans-serif;
  font-size: 1em;
  width: 80%;
  margin: auto; }

@media (min-width: 1024px) {
  .main-footer p {
    font-size: 1.25em;
    width: 60%; } }

.second-footer {
  padding-top: 30px;
  padding-bottom: 30px; }

.second-footer h3 {
  padding-left: 40px;
  display: inline; }
  @media (min-width: 768px) {
    .second-footer h3 {
      font-size: 1em; } }
  @media (min-width: 1024px) {
    .second-footer h3 {
      font-size: 1em; } }

.back-to-top {
  float: right;
  padding-right: 40px; }
  @media (min-width: 1024px) {
    .back-to-top {
      display: none; } }

.footer-style {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .footer-style {
      display: flex;
      justify-content: space-between; } }
  @media (min-width: 1024px) {
    .footer-style {
      display: flex;
      justify-content: space-between; } }
  .footer-style .footer-navigation li a:hover {
    color: firebrick;
    transition: 1s ease; }
  .footer-style .footer-navigation li a:active {
    color: firebrick;
    transition: 1s ease; }

.footer-name {
  width: 50%; }
  @media (min-width: 768px) {
    .footer-name {
      width: 50%; } }
  @media (min-width: 1024px) {
    .footer-name {
      width: 50%; } }

@media (min-width: 768px) {
  h3.back-to-top {
    display: none; } }

.footer-navigation {
  display: none; }
  @media (min-width: 768px) {
    .footer-navigation {
      display: inline; } }
  @media (min-width: 768px) {
    .footer-navigation li {
      width: 50%;
      display: inline;
      padding-right: 30px; } }
  @media (min-width: 1024px) {
    .footer-navigation li {
      width: 50%;
      display: inline;
      padding-right: 50px; } }

.name,
nav, .profile, .container, .main-footer {
  text-align: center; }

/*# sourceMappingURL=application.css.map */
