
/*---- MEDIA QUERY ---- */

@media (min-width: 769px){

    /*---- Footer Style ----*/

    h3.back-to-top {
        display: none;
    }
    
    .footer-navigation {
        display: inline;
    }
    
    .footer-navigation li {
        width: 50%;
        display: inline;
        padding-right: 30px;
    }
    
}

@media (min-width: 1024px) {
    
    body {
        width: 100%;
        margin: 0 auto;
    }
    
    /*---- Header Style ----*/
    
    .main-heading {
        display: flex;
        justify-content: space-around;
    }
    
    nav {
        width: 50%;
    }
    .navigation {
        padding-right: 80px;
        padding-top: 40px;
        text-align: right;
    }
    
    .navigation li {
        display: inline;
        width: 50%;
        background-color: #f5f7fa;
    }
    .navigation li:hover {
        color: darkgrey;
        background-color: #f5f7fa;
    }
    .profile {
        display: flex;
    }
    .profile > div {
        width: 50%;
        padding: 10px;
    }
    .profile > div:nth-child(2) {
        margin-top: 20px;
        order: -1;
        text-align: left;
    }
    

    /*---- Footer Style ----*/
    
    .contact {
        font-size: 1.5em;
    }
    .main-footer p {
        font-size: 1.25em;
        width: 60%;
    }
    .second-footer h3 {
        font-size: 1em;
    }
    .footer-style {
        display: flex;
        justify-content: space-between;
    }
    .footer-name {
        width: 50%;
    }
    
    .back-to-top {
        display: none;
    }
    
    .footer-navigation li {
        width: 50%;
        display: inline;
        padding-right: 50px;
    }
}

