/*---- FOOTER RULE ---- */



footer {
    margin-top: 20px;
    background-color: $footerBackgroundColor;
}

.main-footer {
    @extend %centered;
    p {
        @include tablet {
            font-size: $paragraphFontSize;
            width: 50%;
        }
    }
}

.contact {
    padding-top: 30px;
    padding-bottom: 30px;
    @include tablet {
        font-size: $paragraphFontSize;
    }
    @include desktop {
        font-size: $contactFontSize;
    }
}

.main-footer > p {
    font-family: $paragraphFontFamily;
    font-size: $paragraphFontSize;
    width: 80%;
    margin: auto;
}

.main-footer p {
    @include desktop {
        font-size: $mainFooter_p_FontSize;
        width: 60%;
    }
}

.second-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.second-footer h3 {
    padding-left: 40px;
    display: inline;
    @include tablet {
        font-size: $mainFooter_h3_FontSize;
    }
    @include desktop {
        font-size: $mainFooter_h3_FontSize;
    }
}

.back-to-top {
    float: right;
    padding-right: 40px;
    @include desktop {
        display: none;
    }
}

.footer-style {
        display: flex;
        justify-content: space-between;
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
        .footer-navigation li a{
            &:hover {
                color: $footerNavigationBackground;
                transition: 1s ease;
            }
            &:active {
                color: $footerNavigationBackground;
                transition: 1s ease;
            }
        }
    }
.footer-name {
        width: 50%;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 50%;
        }
    }
h3.back-to-top {
    @include tablet {
        display: none;
    }
}

.footer-navigation {
    display:none;
    @include tablet {
        display: inline;
    }
    & li {
        @include tablet {
            width: 50%;
            display: inline;
            padding-right: 30px;
        }
        @include desktop {
            width: 50%;
            display: inline;
            padding-right: 50px;
        }
    }
}
