

.name {
    font-size: $nameFontSize;
    @include desktop {
        width: 50%;
    }
}

.name,
nav {
    @extend %centered;
    display: block;
}

nav {
    @include desktop {
        width: 50% !important;
        align-self: center !important;
    }
}

.main-header {
    background-color: $backgroundColor;
}

.main-heading {
    @include desktop {
        display: flex !important;
        justify-content: space-around !important;
    }
}

.navigation li {
    width: 90%;
    background-color: $navigationListColor;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 5px;
    @include tablet {
        display: inline;
        width: 50%;
        background-color: $backgroundColor;
        &:hover {
            color: $navigationListHoverColor;
            background-color: $backgroundColor;
        }
    }
    &:hover {
        background-color: $navigationListHoverColor;
        transition: 0.5s ease;
    }
}

.profile {
    @extend %centered;
    @include tablet {
        display: flex;
        & div {
            width: 50%;
            padding: 10px;
        }
        & > div:nth-child(2) {
            margin-top: 20px;
            order: -1;
        }
    }
}

.profile-pic {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 70%;
}

.profile p {
    margin: auto;
    margin-bottom: 15px;
    padding-bottom: 30px;
    width: 70%;
}