/*---- PORTFOLIO ---- */




.container {
    @extend %centered;
}

.portfolio-heading {
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio-img {
    @include tablet {
        @include flexbox;
    }
    @include desktop {
        @include flexbox;
    }
    img {
        width: 90%;
    }
    & > div {
        @include tablet {
            width: 40%;
        }
        @include desktop {
            width: 33%;
        }
    }
    div h2 {
        @include desktop {
            font-size: $Heading2FontSize;
        }
    }
    div p {
        @include desktop {
            font-size: $paragraphFontSize;
        }
    }
}

.portfolio-img div > h2 {
    font-size: 2em;
    padding-top: 20px;
    @include tablet {
        font-size: $paragraphFontSize;
    }
}

.portfolio-img div > p {
    font-size: 1.25em;
    font-family: $paragraphFontFamily;
    padding-top: 20px;
    padding-bottom: 20px;
    @include tablet {
        font-size: 0.8em;
    }
}

.portfolio-img div > h2,
.portfolio-img div > p {
    width: 70%;
    margin: auto;
}