//Variable
$linkColor: #4d4d4d;
$headerColor: black;
$bodyFont: 'Nunito', sans-serif;
$headerFontsize: 1em;
$navigationBackgroundColor: #f5f7fa;
$navigationFontColor: #4d4d4d;
$paragraphFontSize: 1em;
$Heading2FontSize: 1.2em;
$paragraphFontFamily: 'Abel', sans-serif;