
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $bodyFont;
    color: #384047;
}

h1 {
    color: $headerColor;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: $headerFontsize;
}

ul {
    list-style-type: none;
}

hr {
    margin: auto;
    width: 90%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
}

a:link {
    color: $linkColor;
}

a:visited {
    color: $linkColor;
}

a:hover {
    color:rgba(0,0,0,0.5);
    transition: 0.5s ease;
}